.card_block {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card_block__item {
  flex: 0 1 22%;
  margin-left: auto;
  height: 14rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card_block__button {
  height: 14em;
}

/* Semantic UI fix */
.ui.card:first-child {
  margin-top: auto !important;
}
