.card_item {
  height: 14rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card_item__button {
  height: 14em;
}

.card_item__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card_item__head-title {
  flex: 1;
}

.card_item__head-dropdown {
  flex: 0 1 auto;
}

/* Semantic UI fix */
.ui.card:first-child {
  margin-top: auto !important;
}
